.nothing__main-content {
  align-items: center;
  background-color: $primary;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  p {
    align-items: center;
  }
}
